<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container mt-3" style="display: flex; flex-wrap: wrap;">
        <% blogs.forEach(blog=> { %>
            <div class="card" style="margin:30px; flex: 0 0 28%; padding: 10px;">
                <img src=<%= blog.coverImageURL %> class="card-img-top" alt="Could not get image">
                <div class="card-body">
                    <h5 class="card-title"><%=blog.title%></h5>
                    
                    <a href="/blog/<%=blog._id%>" class="btn btn-primary">View</a>
                </div>
            </div>
            <% }) %>
    </div>

    <%- include('./partials/script.ejs') %>
</body>
</html>